DB_HOST=localhost
DB_PORT=5432
DB_NAME=notes_db
DB_USERNAME=postgres
DB_PASSWORD=2200032487

JWT_SECRET=azentrixsecretkeyazentrixsecretkey12345
JWT_ACCESS_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

SERVER_PORT=8081